/*use for login.html*/

/* General Styles */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F0;
    color: #ffffff;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #685752;
    padding: 15px 20px;
}

nav img {
    width: 30px;
}

.search-icon {
    font-size: 20px;
    color: white;
    cursor: pointer;

}

.search-icon a {
    text-decoration: none;

}

.search-icon img {
    width: 25px;
}

/* login section */
.login-box {
    color: #685752;
    text-align: center;
}

.login-box h2 {
    font-size: 30px;
}

.login-btn:hover {
    background-color: #6A6F4C;
}

.login-btn {
    color: white;
    background-color: #6A6F4C;
    border-radius: 5px;
    padding: 8px 17px; 
    font-size: 18px; 
    width: auto; 
}

/* Footer Section */
footer {
    background-color: #685752;
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.last-footer {
    text-align: center;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: italic;
    text-decoration: underline;
}
